<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Food Club</title>
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
      <link href="{{ url_for('static', filename='custom.css') }}" rel="stylesheet">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
<!--Script for social login-->
<script src="//apis.google.com/js/platform.js?onload=start"> </script>
<!--/Script for social login-->
   </head>
   <body>
      <div class="container">
         {% block content %}
         {% endblock %}
      </div>
      <!-- footer -->
      <footer class="footer text-center">
         <div class="footer-top">
            <div class="row">
               <div class="col-md-offset-3 col-md-6 text-center">
                  <div class="widget">
                     <h4 class="widget-title">Food Club</h4>
                     <address>Mission St<br>San Francisco</address>
                     <p class="copyright clear-float">
                        © Food Club. All Rights Reserved
                     <div class="credits">
                        credit: <a href="https://bootstrap.com/">Bootstrap</a>
                     </div>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- / footer -->
      <!-- jQuery -->
      <script src="{{ url_for('static', filename ='js/jquery-1.11.3.min.js')}}"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="{{ url_for('static', filename ='js/bootstrap.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
      <!-- IE10 viewport bug workaround -->
      <script src="{{ url_for('static', filename ='js/ie10-viewport-bug-workaround.js')}}"></script>
   </body>
</html>