{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<!-- Banner for feature-->
<div class="jumbotron feature">
   <div class="container">
      <h1><span class="glyphicon glyphicon-equalizer"></span> Add Restaurant</h1>
   </div>
</div>
</div>
<!-- Banner for feature end-->
<div class="container">
      <form action="#" method = "post">
         <div class="form-group">
            <label for="name">Name:</label>
            <input type ="text" class="form-control" maxlength="100" name="name" placeholder="Name of the Restaurant">
            <div class="padding-bottom"></div>

            <label for="name">Address:</label>
            <input type ="text" class="form-control" maxlength="100" name="address" placeholder="Ass address">
            <div class="padding-bottom"></div>

            <label for="name">City:</label>
            <input type ="text" class="form-control" maxlength="100" name="city" placeholder="Add City">
            <div class="padding-bottom"></div>

            <label for="name">State:</label>
            <input type ="text" class="form-control" maxlength="100" name="state" placeholder="Add State">
            <div class="padding-bottom"></div>

            <label for="name">Country:</label>
            <input type ="text" class="form-control" maxlength="100" name="country" placeholder="Add Country">
            <div class="padding-bottom"></div>

            <label for="name">Zip:</label>
            <input type ="text" class="form-control" maxlength="100" name="zipcode" placeholder="Add Zipcode">
            <div class="padding-bottom"></div>

            <button type="submit" class="btn btn-primary" id="submit" type="submit">
            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Create</button>
            <button class="btn btn-primary">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <a href = "{{ url_for('showRestaurants') }}">Cancel</a></button>
         </div>
      </form>
   </div>
</div>
{% endblock %}