{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<!-- Banner for feature-->
<div class="jumbotron feature">
   <div class="container">
      <h1>Browse Restaurant</h1>
      <p>Choose your favorite restaurant</p>
   </div>
</div>
</div>
<!-- Message flash-->
<div class = 'flash'>
   {% with messages = get_flashed_messages() %}
   {% if messages %}
   <ul>
      {% for message in messages %}
      <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
   </ul>
   {% endif %}
   {% endwith %}
</div>
<!-- Restaurant List -->
<div class="container">
{% for restaurant in restaurants %}
<div class="col-sm-6 col-md-3">
   <div class="thumbnail featured-product">
      <a href = "{{url_for('showMenu', restaurant_id = restaurant.id)}}">
         <h3>{{restaurant.name}}</h3>
      </a>
      <p><i class="fa fa-map-marker">{{restaurant.address}}
         {{restaurant.city}}<br>
         {{restaurant.state}}
         {{restaurant.country}}
         {{restaurant.zipcode}}
      </p></br>
      </i>
   </div>
</div>

{% endfor %}
{% endblock %}